---
import Layout from '../layouts/Layout.astro';
---

<Layout title="الهاشمي | المنصة التعليمية">
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-10 h-10 border-4 border-accent border-t-transparent rounded-full animate-spin"></div>
  </div>
  <script>
    window.location.replace('/c/0.html');
  </script>
</Layout>
