---
import Layout from '../layouts/Layout.astro';
---

<Layout title="الهاشمي | المنصة التعليمية">
  <head>
    <meta http-equiv="refresh" content="0;url=/c/0" />
  </head>
  <div class="min-h-screen flex items-center justify-center">
    <div class="w-10 h-10 border-4 border-accent border-t-transparent rounded-full animate-spin"></div>
  </div>
</Layout>
